*, *:before, *:after {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
  user-select: none;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left {
  flex: 0.9;
}

.app__right {
  max-width: 500px;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.infobox {
  cursor: pointer;
  width: 200px;
  text-align: center;
}

.infoBox * {
  box-sizing: border-box;
}

.infoBox__title span {
  font-weight: bold;
}

.lineGraph__container {
  margin-top: 20px;
}

.lineGraph__title {
  margin-bottom: 15px;
  overflow: visible;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
  .app__right {
    max-width: initial;
  }
}

@media (max-width: 675px) {
  .app__stats {
    flex-direction: column;
    align-items: center;
  }
  .infobox {
    margin: 5px;
    width: 75%;
  }
}